@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color:#ffffff;
  --second-background-color:#000D25;
  --text-color:#080a13;
  --secondary-color: #4DEBD4;
  --primary-color: #007BFF;
  --accent-color-1: #00C853;
  --accent-color-2: #FF5722;
  --accent-color-3: #9C27B0;
  --neutral-color-1: #F5F5F5;
  --neutral-color-2: #333333;
  --neutral-color-3: #FFFFFF;
  }
  

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .inv-cam {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

body {
  background-color: white;
}


.temp{
  min-height: 10vh;
}
